<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="getLoc()" expand="block">Get Location</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Location Info</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Latitue
      </ion-label>
      <ion-badge slot="end">{{lat}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        longitude
      </ion-label>
      <ion-badge slot="end">{{lng}}</ion-badge>
    </ion-item>





    </ion-list>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-title>User List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card
    *ngFor="let user of userList | async"
    routerLink="/detail/{{user.id}}"
  >
    <ion-card-header>
      {{ user.userName }}
    </ion-card-header>
    <ion-card-content>
      location: {{ user.location }}
    </ion-card-content>
  </ion-card>
</ion-content>